.login {
  background-color: $color-white-4;
  padding: $pd-11 0 $pd-9;
  .login__form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    form {
      background-color: $color-white-0;
    }
  }
}
