//color
$color-black-0: #111518;
$color-black-1: #1e1e1e;
$color-black-2: #242629;
$color-white-0: #fff;
$color-white-1: #f3f5f7;
$color-yellow-0: #ffc750;
$color-purple-0: #5b38ed;
$color-green-0: #09917f;
